{% extends "base.html" %}

{% block content %}
  <style>
    #search-bar {
      display: flex;
      margin: 10% 10%;
    }

    #search-bar input {
      width: 100%;
      padding: 10px;
    }

    #search-bar button {
      margin-left: 15px;
    }

    .bulk-results {
      display: flex;
      flex-wrap: wrap;
    }

    .search {
      margin: 0px 10px 20px 10px;
      padding: 20px;
      background: #fafaff;
    }

    .search-header {
      height: 40px;
    }

    .search-term {
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }

    .search-results {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      grid-auto-rows: 150px;
      grid-gap: 20px;
    }

    .product {
      display: block;
      color: #333;
      text-decoration: none;
    }

    .product-image {
      max-width: 100px;
      max-height: 100px;
      margin-bottom: 10px;
    }

    .product-info {
      height: 54px;
      overflow: hidden;
    }

    .product-name {
      font-size: 10px;
      margin-right: 10px;
    }
  </style>


  <form id="search-bar" action="/search">
    <input type="text" placeholder="Search.." name="search" value="{{ search_term }}">
    <select name="number_result">
      <option value="5" selected>5</option>
      <option value="100">100</option>
      <option value="200">200</option>
      <option value="300">300</option>
    </select>
    <select name="profile">
      <option value="None" selected>None</option>
      <option value="AaronDonald97">Aaron Donald</option>
      <option value="BorisJonson">Boris Jonson</option>
      <option value="elonmusk">Elon Musk</option>
      <option value="EmmaWatson">Emma Watson</option>
      <option value="GreenDay">Green Day</option>
      <option value="IBM">IBM</option>
      <option value="JosephEStiglitz">Joseph Stiglitz</option>
      <option value="MarcusRashford">Marcus Rashford</option>
      <option value="MartinGarrix">Martin Garrix</option>
      <option value="realDonaldTrump">Donald Trump</option>
      <option value="vindiesel">Vin Diesel</option>
      <option value="Yunus_Centre">Yunus Centre</option>
    </select>
    <select name="topic">
      <option value="None" selected>None</option>
      <option value="sport">sport</option>
      <option value="music">music</option>
      <option value="cinema">cinema</option>
      <option value="technology">technology</option>
      <option value="politic">politic</option>
      <option value="economy">economy</option>
    </select>
    <button type="submit"><i class="fa fa-search">Search</i></button>
  </form>

  <div>
    {% if tweets|length > 0 %}
        {% for tweet in tweets%}
            <div>
                <p3>{{tweet._source.user}}</p3>
                <p3>{{tweet._source.topic}}</p3>
                <p>{{tweet._source.text}}</p>
                <a href="{{tweet._source.tweet_url}}">Link a tweet</a>
                <img src="{{tweet._source.profile_image}}">
            </div>
        {% endfor %}
    {% endif %}
  </div>
{% endblock %}
