{% extends "base.html" %}

{% block content %}
<!-- <style>
  #search-bar {
    display: flex;
    margin: 10% 10%;
  }

  #search-bar input {
    width: 100%;
    padding: 10px;
  }

  #search-bar button {
    margin-left: 15px;
  }

  .bulk-results {
    display: flex;
    flex-wrap: wrap;
  }

  .search {
    margin: 0px 10px 20px 10px;
    padding: 20px;
    background: #fafaff;
  }

  .search-header {
    height: 40px;
  }

  .search-term {
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }

  .search-results {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-auto-rows: 150px;
    grid-gap: 20px;
  }

  .product {
    display: block;
    color: #333;
    text-decoration: none;
  }

  .product-image {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
  }

  .product-info {
    height: 54px;
    overflow: hidden;
  }

  .product-name {
    font-size: 10px;
    margin-right: 10px;
  }
</style> -->


<form id="search-bar" action="/search">
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Type your query here..." name="search"
      value="{{ search_term }}">
  </div>
  <div class="form-group">
    <label for="results">How many results do you want?</label>
    <select id="results" class="form-control" name="number_result">
      <option value="5" selected>5</option>
      <option value="100">100</option>
      <option value="200">200</option>
      <option value="300">300</option>
    </select>
  </div>
  <div class="form-group">
    <label for="profile">Wanna a particular profile?</label>
    <select id="profile" class="form-control" name="profile">
      <option value="None" selected>None</option>
      <option value="AaronDonald97">Aaron Donald</option>
      <option value="BorisJohnson">Boris Johnson</option>
      <option value="elonmusk">Elon Musk</option>
      <option value="EmmaWatson">Emma Watson</option>
      <option value="GreenDay">Green Day</option>
      <option value="IBM">IBM</option>
      <option value="JosephEStiglitz">Joseph Stiglitz</option>
      <option value="MarcusRashford">Marcus Rashford</option>
      <option value="MartinGarrix">Martin Garrix</option>
      <option value="realDonaldTrump">Donald Trump</option>
      <option value="VancityReynolds">Rayan Reynolds</option>
      <option value="Yunus_Centre">Yunus Centre</option>
    </select>
  </div>
  <div class="form-group">
    <label for="topic">Wanna select a specific topic?</label>
    <select id="topic" class="form-control" name="topic">
      <option value="None" selected>None</option>
      <option value="sport">sport</option>
      <option value="music">music</option>
      <option value="cinema">cinema</option>
      <option value="technology">technology</option>
      <option value="politic">politic</option>
      <option value="economy">economy</option>
    </select>
  </div>
  <div class="form-group">
    <label for="method">Select the method to encapsulate a user profile</label>
    <select id="method" class="form-control" name="method">
      <option value="bow" selected>Bag of words</option>
      <option value="embeddings">Embeddings</option>
      <option value="embeddings_mean">Embeddings with mean</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit"><i class="fa fa-search">Search</i></button>
</form>

<div>
  {% if tweets|length > 0 %}
  {% for tweet in tweets%}
  <div class="row mb-3">
    <div class="col-md-2">
      <img width="48" height="48" class="rounded-circle" src="{{tweet._source.profile_image}}"
        onerror="ImgError(this)"><br>
      <p3 class="overflow-wrap: break-word">{{tweet._source.user}}</p3>
    </div>
    <div class="col-md-10">
      <!-- <p3>{{tweet._source.topic}}</p3> -->
      <p3>{{tweet._source.text}}</p3>
      <br>
      <p3>Retweets: {{tweet._source.popularity.retweet}}</p3>
      <br>
      <p3>Likes: {{tweet._source.popularity.like}}</p3>
      <br>
      <a href="{{tweet._source.tweet_url}}">Link to original tweet</a>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}